%h1
  = link_to 'Mon super panel admin ', admin_path
  \- games
%table.table
  %thead
    %tr
      %td ID
      %td Nom
      %td Commentaire
      %td Lien
      %td Etat
      %td Editer
  %tbody.table-hover
    - @games.each do |game|
      %tr
        %td= game.id
        %td= game.name
        %td= game.comment
        %td= game.link
        %td= game.state
        %td
          = link_to admin_game_edit_path(game) do
            %i.fa.fa-pencil
.text-center
  = paginate @games
