%h1= I18n.t('title.concepts')
#categories-concept-container.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @video_categories_concept.each do |category|
    .panel.panel-default
      .panel-heading{ role: "tab", id: 'heading-' + category.id.to_s }
        %h4.panel-title.clearfix
          %a.collapsed{"aria-controls" => "collapse" + category.id.to_s, "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse" + category.id.to_s, :role => "button"}
            = category.name
          = link_to video_categories_path(category), class: 'pull-right' do
            %i.fa.fa-eye
            %span= I18n.t('text.see-more')
      .panel-collapse.collapse{"aria-labelledby" => 'heading-' + category.id.to_s, :role => "tabpanel", id: "collapse" + category.id.to_s}
        .panel-body
  - if @video_categories_concept.size == 0
    %p= I18n.t('text.no-content')
%hr
%br
%h1= I18n.t('title.letsplay')
#categories-letsplay-container.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @video_categories_letsplay.each do |category|
    .panel.panel-default
      .panel-heading{ role: "tab", id: 'heading-' + category.id.to_s }
        %h4.panel-title.clearfix
          %a.collapsed{"aria-controls" => "collapse" + category.id.to_s, "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse" + category.id.to_s, :role => "button"}
            = category.name
          = link_to video_categories_path(category), class: 'pull-right' do
            %i.fa.fa-eye
            %span= I18n.t('text.see-more')
      .panel-collapse.collapse{"aria-labelledby" => 'heading-' + category.id.to_s, :role => "tabpanel", id: "collapse" + category.id.to_s}
        .panel-body
  - if @video_categories_letsplay.size == 0
    %p= I18n.t('text.no-content')
%hr
%br
%h1= I18n.t('title.other')
#categories-other-container.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @video_categories_other.each do |category|
    .panel.panel-default
      .panel-heading{ role: "tab", id: 'heading-' + category.id.to_s }
        %h4.panel-title.cleafix
          %a.collapsed{"aria-controls" => "collapse" + category.id.to_s, "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse" + category.id.to_s, :role => "button"}
            = category.name
          = link_to video_categories_path(category), class: 'pull-right' do
            %i.fa.fa-eye
            %span= I18n.t('text.see-more')
      .panel-collapse.collapse{"aria-labelledby" => 'heading-' + category.id.to_s, :role => "tabpanel", id: "collapse" + category.id.to_s}
        .panel-body
  - if @video_categories_other.size == 0
    %p= I18n.t('text.no-content')
#template.hidden
  #loader
    = render 'layouts/partials/loader'
  #gallery
    .col-sm-4.col-md-3
      .thumbnail.thumb-shadow.text-center
        =link_to video_url('video_id') do
          %img{ src: '#', id: 'thumb_img' }
          .caption
            %h3
  #empty-message
    %p= I18n.t('errors.videos.empty_category')
  #see-more-thumb
    .col-sm-4.col-md-3
      .thumbnail.thumb-shadow.text-center
        =link_to video_categories_url('category_id') do
          =image_tag 'placeholders/videogame-placeholder'
          .caption.see-more
            %h3
              = I18n.t('text.see-more')
